bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.nupkg
*.dbmdl
*.jfm
log/
logs/
*.ldb
*.mdf
*.ldf
*.ndf
.vs/
*.vsp
*.vspx
*.sap
.idea/
*.db-shm
*.db-wal
*.sqlite
appsettings.json
*.pfx
*.cert
*.key
