<div class="sign-in-container p-3">
    <div class="text-center">
        <img src="/assets/img/veritaspay-logo.svg" class="veritaspay-logo" alt="veritaspay logo" />
    </div>
    <h4 class="pb-2 text-center">Create an account</h4>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <!-- {{ signUpForm.value | json }} -->
        <div class="row form-group">
            <div class="col-md-6 pb-4">
                <span class="input-label" id="input-label first-name">First Name</span>
                <input type="text" class="form-control form-input" id="first-name" formControlName="firstName" placeholder="First Name" maxlength="32" />
            </div>
            <div class="col-md-6 pb-4">
                <span class="input-label" id="input-label last-name">Last Name</span>
                <input type="text" class="form-control form-input" id="last-name" formControlName="lastName" placeholder="Last Name" maxlength="32" />
            </div>
        </div>
        <div class="form-group pb-4">
            <span class="input-label" id="input-label username">Username</span>
            <input formControlName="username" type="text" id="username" class="form-control form-input" name="username" placeholder="Username" maxlength="32" />
            @if (signUpForm.get('username')?.hasError('required') && signUpForm.get('username')?.dirty) {
                <small class="text-danger">Username field is required!</small>
            }
            @if (signUpForm.get('username')?.hasError('minlength') && signUpForm.get('username')?.dirty) {
                <small class="text-danger">Minimum of 8 characters!</small>
            }
        </div>
        <div class="form-group pb-4">
            <span class="input-label" id="input-label password">Password</span>
            <div class="input-password-group">
                <input formControlName="password" [type]="formService.passwordType" id="password" class="form-control form-input" name="password" placeholder="Password" maxlength="32" />
                <i [class]="formService.eyeIcon" class="eye-icon" (click)="formService.toggleEyeIcon($event)"></i>
            </div>
            <div class="d-flex flex-column">
                @if (signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.dirty) {
                    <small class="text-danger">Password field is required!</small>
                }
                @if (signUpForm.get('password')?.hasError('minlength') && signUpForm.get('password')?.dirty) {
                    <small class="text-danger">Minimum of 8 characters!</small>
                }
                @if (signUpForm.get('password')?.errors?.['pattern'] && signUpForm.get('password')?.dirty) {
                    <small class="text-danger">Password must contain alphanumeric & special character!</small>
                } 
            </div>
        </div>
        <div class="form-group pb-4">
            <span class="input-label" id="input-label email">Email</span>
            <input type="email" class="form-control form-input" id="email" formControlName="email" placeholder="Email - example@email.com" />
        </div>
        <div class="form-group pb-4">
            <span class="input-label" id="input-label address">Address</span>
            <input formControlName="address" type="text" id="address" class="form-control form-input" name="username" placeholder="Address" />
            @if (signUpForm.get('address')?.hasError('required') && signUpForm.get('address')?.dirty) {
                <small class="text-danger">Username field is required!</small>
            }
            @if (signUpForm.get('address')?.hasError('minlength') && signUpForm.get('address')?.dirty) {
                <small class="text-danger">Minimum of 8 characters!</small>
            }
        </div>
        <div class="row">
            <div class="role-select pb-4 col-md-6">
                <label class="label-input-label mb-1">Role</label>
                <select class="form-select" formControlName="roleId">
                    @for (role of roles; track role) {
                        <option [value]="role.id">
                            {{ role.name }}
                        </option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label class="label-input-label ms-1">Gender</label>
                <div class="row m-2">
                    @for (gender of genders; track gender) {
                        <div class="form-check col-md-6">
                            <input type="radio" class="form-check-input" formControlName="genderId" [value]="gender.id" />
                            <label class="form-check-label" for="flexRadioDefault1">{{ gender.name }}</label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="form-group d-flex flex-column pb-4">
            <label class="label-input-label">Date of birth</label>
            <input type="date" class="form-control" formControlName="dateOfBirth" />
        </div>
        <button type="submit" class="btn btn-primary w-100 submit" [disabled]="signUpForm.invalid">Sign up</button>
        <div class="text-center p-2">
            <a routerLink="/sign-in" class="create-an-account">Back to sign in</a>
        </div>
    </form>
    <router-outlet></router-outlet>
</div>  