<!-- <app-sign-in class="sign-in d-flex align-items-center justify-content-center"></app-sign-in> -->
<!-- <div class="app-container">
  <h1>Welcome! {{name}}</h1>
  <nav>
    <ul class="text-center">
      <li><a routerLink="/sign-in" routerLinkActive="active">Sign In</a></li>
      <li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    </ul>
  </nav>
</div> -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>